version: "3.3"
services:
  app:
    image: derhenning/tgtg:latest         ## pre build image from docker hub
    #image: tgtg-scanner:latest           ## locally build image
    environment: 
      - TZ=Europe/Berlin                              ## Set timezone for pickupdate, otherwise will be utc
      - DEBUG=false                                   ## true for debug log messages
      - TGTG_USERNAME=                                ## TGTG Username / Login EMail
      - SLEEP_TIME=60                                 ## Time to wait till next scan in seconds - default 60 seconds
      - ITEM_IDS=                                     ## (optional) Comma seperated list of Item Ids to scan
      - METRICS=false                                 ## Enable to export metrics for Prometheus
      - METRICS_PORT=8000                             ## Port for metrics http server
      - DISABLE_TESTS=false                           ## true to disable test notifications on startup

      - SMTP=true                                     ## true = enable mail notifications via smtp
      - SMTP_HOST=smtp.gmail.com                      ## smtp Server - smtp.gmail.com for google
      - SMTP_PORT=465                                 ## smtp Server Port - 465 for google
      - SMTP_USERNAME=max.mustermann@gmail.com        ## smtp Login - your EMail for google
      - SMTP_PASSWORD=                                ## smtp Login Password - your Login PW for google
      - SMTP_TLS=true                                 ## enable TLS - true for google and most smtp servers
      - SMTP_SENDER=max.mustermann@gmail.com          ## sender adress - same as Login for google and most smtp servers
      - SMTP_RECIPIENT=max.mustermann@gmail.com       ## recipient for notifications - can be the same as sender
      #-SMTP_SUBJECT=                                 ## Subject and Body options are optional.
      #-SMTP_BODY=                                    ## Subject and Body options can use variables as described below
                                                      ## The Body option is interpreted as HTML

      - PUSH_SAFER=false                              ## true = enable notifications via pushsafer.com
      - PUSH_SAFER_KEY=
      - PUSH_SAFER_DEVICE_ID=

      - TELEGRAM=false                                ## true = enable notifications via Telegram
      - TELEGRAM_TOKEN=                               ## Telegram Bot token - see @botfather
      - TELEGRAM_CHAT_IDS=                            ## Telegram Chat id, multiple ids separated by comma
      #- TELEGRAM_BODY=                               ## Optional message body as markdown, variables as described below
                                                      ## Example: 
                                                      ## 'TELEGRAM_BODY=*$${{display_name}}*\n*Available*: $${{items_available}}\n*Rating*: $${{rating}}\n*Price*: $${{price}} $${{currency}}\n*Pickup*: $${{pickupdate}}'
                                                      ## In some cases you may have to add
                                                      ## 'TELEGRAM_BODY={{` ... `}}'

      - IFTTT=false                                   ## true = enable notifications via IFTTT Webhooks
      - IFTTT_EVENT=tgtg_notification                 ## IFTTT Webhooks Event
      - IFTTT_KEY=                                    ## IFTTT Webhooks Key

      ## Possible $${{variable}} variables: item_id, items_available, display_name, price, currency, pickupdate
      ## Example:
   ## - 'WEBHOOK_BODY={"message": "$${{display_name}} - New Amount: $${{items_available}}", "priority": 2, "title": "New TGTG Items"}'
      ## Notice that you have to enclose the variable with ''
      - WEBHOOK=false                                 ## true = enable notifications via costum WebHook
      - WEBHOOK_URL=                                  ## URL of your WebHook, can contain $${{variable}}
      - WEBHOOK_METHOD=POST                           ## Request Method
      - WEBHOOK_BODY=                                 ## Data to send, can contain $${{variable}}
      - WEBHOOK_TYPE=                                 ## Content-Type for header, default: text/plain
      - WEBHOOK_TIMEOUT=60                            ## Request Timeout
    volumes:
      - tokens:/tokens           ## volume to save TGTG credentials to reuse on next start up and avoid login mail
volumes:
  tokens:
