version: "3.3"
services:
  bash:
    build:
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /home/app
    # env_file:
    #   - .env
    volumes:
      - .:/home/app
    stdin_open: true
    tty: true
    command: /bin/bash
