-r requirements.txt
altgraph==0.17.3
attrs==22.2.0
coverage==7.0.1
exceptiongroup==1.1.0
iniconfig==1.1.1
pluggy==1.0.0
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
pytest==7.2.0
pytest-cov==4.0.0
tomli==2.0.1
