name: Tests

on:
  pull_request:

env:
  POETRY_VERSION: 1.5.1

jobs:
  tests:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: ['3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: ./.venv
        key: venv-test-poetry-${{ env.POETRY_VERSION }}-python-${{ matrix.python }}-${{ hashFiles('poetry.lock') }}-${{ runner.os }}
    - uses: ./.github/actions/setup-poetry-action
      with:
        poetry-version: ${{ env.POETRY_VERSION }}
        python-version: ${{ matrix.python }}
        without: build
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pre-commit
        key: pre-commit-python-${{ matrix.python }}-${{ hashFiles('poetry.lock', '.pre-commit-config.yaml') }}-${{ runner.os }}
    - name: Run linting
      run: poetry run pre-commit run -a
    - name: Run tests
      run: poetry run pytest -v -m "not tgtg_api" --cov --cov-report=xml
    - uses: codecov/codecov-action@v3
